.tip {
	z-index: 13000;
}
 
.tip-title {
	font-weight: bold;
	font-size: 11px;
	margin: 0;
	color: #236CF5;
	padding: 8px;
	border: 1px solid #B0B0B0;
	background: #F2F2F2;
	text-align: center;
}
 
.tip-text {
	font-size: 11px;
	padding: 8px;
	color: #333;
	background: #fff;
	border: 1px solid #222;
	border-top: none;
	margin: 0 5px;
}