<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin>
	<key>UvumiGallery</key>
	<title>UvumiGallery</title>
	<description>A gallery with flowing images</description>
	<version>0.0.1</version>
	<state>Development</state>
	<categories>
		<category>Gallery</category>
	</categories>
	<reservations>
		<class>UvumiGallery</class>
	</reservations>
	<parties>
		<person role="Publisher">
			<name>Thomas Allmer</name>
			<email>at@delusionworld.com</email>
			<website></website>
			<organisation></organisation>
			<repositoryUserName>daKmoR</repositoryUserName>
		</person>
	</parties>
	<constraints>
		<depends>
			<package minVersion="1.2">Core</package>
		</depends>
		<conflicts/>
		<suggests/>
	</constraints>
</plugin>
