.flexBoxWrap { position: absolute; background: #fff; }
	.flexBoxWrap .ui-PreviousWrap, .flexBoxWrap .ui-NextWrap { height: 70%; position: absolute; width: 50%; cursor: pointer; z-index: 510; }
		.flexBoxWrap .ui-PreviousWrap:hover { background: url('img/previous.gif') no-repeat left 30px; }
	.flexBoxWrap .ui-NextWrap { left: 50%; }
		.flexBoxWrap .ui-NextWrap:hover { background: url('img/next.gif') no-repeat right 30px; }
		
	.flexBoxWrap .content { overflow: hidden; position: relative; z-index: 500; background: #fff; }
	
	.flexBoxWrap .bottom { background: #fff; height: 45px; position: absolute; display: none; z-index: 490; bottom: 0; width: 100%; }
		.flexBoxWrap .close { background: url('img/close.gif') no-repeat; cursor: pointer; display: block; float: right; height: 22px; width: 66px; margin-right: 10px; }
		.flexBoxWrap .description { float: left; margin-left: 10px; }
		
