/* @group Main */

ul { list-style: square; }
p.description { font-size: 1.2em; }
pre { background: #FEFEFE; border: 1px solid #ccc; border-width: 1px 0; padding: 5px 7px; overflow: auto;	font-size: 12px; }

h1, h2 {	border-bottom: 1px solid #ddd; }

h1 a:link, h1 a:visited { color: #c17878; text-decoration: none; }
h2 a:link, h2 a:visited { color: #78ba91;	text-decoration: none; }

/* @group geshi */
.kw1 {	color: #1b609a; }
.kw2 { color: #9a6f1b; }
.me1 { color: #666; }
.kw3, .re0, .sc1 {	color: #784e0c; }
.br0 {	color: #444; }
.st0 {	color: #489a1b; }
.co1, .coMULTI {	color: #888; }
.nu0 {	color: #70483d; }
/* @end */