/* -----------------------------------------------------------------------------------------------------------------
	common
----------------------------------------------------------------------------------------------------------------- */	
	/* some nice to have resets */
	p,div, body, img { padding: 0; margin: 0; }
	a img{ border: none; }
	
	/* Clearing floats without extra markup - Based on How To Clear Floats Without Structural Markup by PiE
	   [http://www.positioniseverything.net/easyclearing.html] */
	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	
	/* Regular clearing -  apply to column that should drop below previous ones. */
	.clear { clear: both; }
	
/* -----------------------------------------------------------------------------------------------------------------
	YOUR site layout
----------------------------------------------------------------------------------------------------------------- */
	.px210x750 .col1  { width: 209px; border-right: 1px solid #dcdcdc; }
	.px210x750 .col2  {	width: 750px;	}

/* -----------------------------------------------------------------------------------------------------------------
	predefined layout - add your site layout before; everything else after
----------------------------------------------------------------------------------------------------------------- */
	#wrap { width: 960px; margin: 0 auto; padding: 0; }

	.colmask { position: relative; clear: both; width: 100%; overflow: hidden; }
	.colmask .col1, .colmask .col2, .colmask .col3, .colmask .col4 { float: left; }
	
	/* |-------------------------50%-------------------------|-------------------------50%-------------------------| */
	.p50x50 .col1, .p50x50 .col2 { width: 49.9%; }
	/* |----------20%----------|----------------------------------------80%----------------------------------------| */
	.p20x80 .col1 { width: 19.9%; }
	.p20x80 .col2 { width: 79.9%; }
	/* |----------------------------------------80%----------------------------------------|----------20%----------| */
	.p80x20 .col1 { width: 79.9%; }
	.p80x20 .col2 { width: 19.9%; }
	/* |---------------30%---------------|-----------------------------------70%-----------------------------------| */
	.p30x70 .col1 { width: 29.9%; }
	.p30x70 .col2 { width: 69.9%; }
	/* |-----------------------------------70%-----------------------------------|---------------30%---------------| */
	.p70x30 .col1 { width: 69.9%; }
	.p70x30 .col2 { width: 29.9%; }
	/* |----------------33%----------------|----------------33%----------------|----------------33%----------------|  */
	.p33x33x33 .col1, .p33x33x33 .col2, .p33x33x33 .col3 { width: 33.2%; }
	/* |------------25%------------|-------------------------50%-------------------------|------------25%------------|  */
	.p25x50x25 .col1, .p25x50x25 .col3 { width: 24.45%; }
	.p25x50x25 .col2 { width: 50.9%; }	
	/* |------------25%------------|------------25%------------|------------25%------------|------------25%------------| */
	.p25x25x25x25 .col1, .p25x25x25x25 .col2, .p25x25x25x25 .col3, .p25x25x25x25 .col4 { width: 24.9%; }
	
	/* getting equal hight blocks; works due to the hidden overflow on colmask */
	.equal .col1, .equal .col2, .equal .col3, .equal .col4 { margin-bottom: -32000px; padding-bottom: 32000px; }
	
	/* set the default margin for the content div */
	#contentMain { margin: 0 10px; }
	
	/* give them some nice margin */
	.col1 .content, .col2 .content, .col3 .content { margin: 0 10px; }
	
	/* override col1 left margin and col2 right margin for 2 cols */
	.p50x50 .col1 .content, .p20x80 .col1 .content, .p80x20 .col1 .content, .p30x70 .col1 .content, .p70x30 .col1 .content { margin-left: 0; }
	.p50x50 .col2 .content, .p20x80 .col2 .content, .p80x20 .col2 .content, .p30x70 .col2 .content, .p70x30 .col2 .content { margin-right: 0; }
	
	/* override col1 left margin and col3 right margin for 3 cols */
	.p33x33x33 .col1 .content, .p25x50x25 .col1 .content { margin-left: 0; }
	.p33x33x33 .col3 .content, .p25x50x25 .col3 .content { margin-right: 0; }

/* -----------------------------------------------------------------------------------------------------------------
	YOUR everything else
----------------------------------------------------------------------------------------------------------------- */
	.p33x33x33 .col2, .p25x50x25 .col2  { border-right: 1px solid #dcdcdc; }
	
	a { color: #000099; text-decoration: underline; }
		a:focus, a:hover { color: #000; }
	blockquote { color: #666; font-style: italic; margin: 10px; }
	ul { list-style: square; }
	p.description { font-size: 1.2em; }
	pre { background: #FEFEFE; border: 1px solid #ccc; border-width: 1px 0; padding: 5px 7px; overflow: auto;	font-size: 12px; }

	h1, h2, h3 {	border-bottom: 1px solid #ddd; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: normal; }
	h1 { margin: 0 0 20px 0; color: #78BA91; }
	h3 { border: none; }
	h1 a:link, h1 a:visited { color: #c17878; text-decoration: none; }
	h2 a:link, h2 a:visited { color: #78ba91;	text-decoration: none; }
	
	#wrap { margin: 0 auto 20px; }
	#header { border-bottom: 1px solid #eee; margin-bottom: 10px; position: relative; }
		#search { width: 258px; position: absolute; right: 0; top: 6px; z-index: 999; font-size: 11px; }
			#search input { border: 1px solid #bbb; width: 250px; padding: 3px; font-size: 11px; }
			#searchResult { padding: 10px; background: #ddd; }
				#searchResult h3 { margin: 10px 0 0; padding: 0; }
			
	#footer  { border-top: 1px solid #eee; color: #555; margin-top: 10px; padding-top: 15px; text-align: right; }
	
	#contentMain { margin: 0 15px; }
	
	#log { padding: 10px; background: #eee; border: 1px solid #aaa; min-height: 50px; font-style: italic; }
	
	#menu {}
		#menu h4 { position: relative; cursor: pointer; height: 25px; padding: 5px 0 0 8px; background: #F9F9F9; border: 1px solid #ddd; margin: 0; }
			#menu h4 span {	position: absolute; width: 25px; height: 25px; background: url('img/menu.png'); right: -1px; top: -1px; }
		#menu div.accordionContent { margin-bottom: 10px; }
			#menu div.accordionContent div { background: #F9F9F9; border: 1px solid #ddd; padding: 10px 10px 25px 10px; border-width: 0 1px 1px; position: relative; }
			#menu div.accordionContent p { position: relative; border-bottom: 1px solid #eee; }
			#menu div.accordionContent span.leftBottom { position: absolute; width: 25px; height: 25px; background: url('img/menu.png') -50px; left: -1px; bottom: -1px; }
	
	a.doc { background: url('img/documentinfo.png') no-repeat 0 2px; width: 18px; height: 18px; position: absolute; right: 0; }
		a.doc span { display: none; }
	a.spec { background: url('img/runprog.png') no-repeat 0 2px; width: 18px; height: 18px; position: absolute; right: 20px; }
		a.spec span { display: none; }
		
	#jsspec_container { position: relative; }
	
	.error, .notice, .success {	border: 2px solid #DDDDDD; 	margin-bottom: 10px; 	padding: 6px; } 
	.error { background: #FBE3E4; border-color: #FBC2C4; color: #8A1F11; }
		.error a { color:#8A1F11; }
	.notice { background: #FFF6BF; border-color:#FFD324; color:#514721; }
		.notice a { color:#514721; }
	.success { background:#E6EFC2; border-color:#C6D880; color:#264409; }
		.success a { color:#264409; }
	

	
	
	
