.ui-window { position: absolute; padding: 10px; }

	.ui-windowTitle { position: relative; }
		.ui-windowControlsWrap { position: absolute; right: 3px; top: 0; }	
			.ui-windowClose, .ui-windowMinimize, .ui-windowMaximize { float: left; cursor: pointer; }

	.ui-windowContent { position: relative; overflow: auto; }
		
	.ui-windowHandle { position: absolute; width: 3px; height: 3px; }
	.ui-windowCorner { width: 10px; height: 10px; }

.ui-draggable { cursor: move; }