
.ui-window { position: absolute; border: 1px solid #000; }

.ui-windowHandle { position: absolute; width: 3px; height: 3px; }
.ui-windowCorner { width: 10px; height: 10px; }

.ui-draggable { cursor: move; }