
.FlowTabs .Tab { padding: 5px; border: 1px solid #999; border-width: 1px 1px 0; background: #eee; }
.FlowTabs .TabContent { background: #eee; border: 1px solid #999; margin-bottom: 10px; padding: 5px; }