.ui-ContentWrap { position: relative; background: orange; overflow: hidden; }
	.ui-ContentWrap div { position: absolute; left: 0; top: 0; display: none; }
	.ui-SelectWrap .ui-Select { background: orange; display: block; cursor: pointer; }
		.ui-SelectWrap .ui-Select:hover { background: red; }
		
	.ui-NextWrap { width: 10px; height: 20px; background: green; }
	.ui-PreviousWrap { width: 10px; height: 20px; background: green; }
