.ui-Item, .ui-Description { position: relative; overflow: hidden; }
	.ui-ItemItem, .ui-DescriptionItem { position: absolute; display: none; }
	
	.ui-Select .ui-SelectItem { display: block; cursor: pointer; }
	.ui-Next { cursor: pointer; }
	.ui-Previous { cursor: pointer; }
	.ui-Loader { background: #fff url('img/loader.gif') no-repeat center center; height: 100%; width: 100%; display: block; }
	.ui-RequestItem, .ui-InlineItem { width: 500px; }
	.ui-SelectScroller { overflow: hidden; }