.ui-ItemWrap, .ui-DescriptionWrap { position: relative; overflow: hidden; }
	.ui-Item, .ui-Description { position: absolute; display: none; }
	
	.ui-SelectWrap .ui-Select { display: block; cursor: pointer; }
	.ui-NextWrap { width: 10px; height: 20px; cursor: pointer; }
	.ui-PreviousWrap { width: 10px; height: 20px; cursor: pointer; }
	.ui-Loader { background: #fff url('img/loader.gif') no-repeat center center; height: 100%; width: 100%; display: block; }
